@import 'bootstrap/dist/css/bootstrap.min.css';

::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background-color: white;
}

::-webkit-scrollbar-thumb {
  background-color: #c2c6c7;
  border-radius: 4px;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #9ba1a5;
}

:root {
  --dark-cyan: #0c5470;
  --orange: #F1A314;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.App {
  height: 100%;
  width: 100%;
  text-align: left;
  font-family: Montserrat, "Open sans", sans-serif;
  color: slategray;
  display: flex;
  flex-direction: row;
}

.sidebar {
  position: fixed;
  width: 250px;
}

.navbar {
  padding-top: 40px;
  --bs-navbar-color: slategray;
  --bs-navbar-hover-color: var(--orange);
  --bs-navbar-disabled-color: #ffffff40;
  --bs-navbar-active-color: slategray;
}

.navbar-nav {
  width: 100%;
  padding: 0px 30px;
}

.navbar-brand {
  font-weight: 500;
  width: 100%;
  margin: 0px;
  padding: 0px 30px 30px 30px;
  --bs-navbar-brand-color: var(--dark-cyan);
  --bs-navbar-brand-hover-color: var(--dark-cyan);
}

#nav-name {
  text-transform: uppercase;
  font-size: 22px;
  padding: 4px 8px;
  margin: 0px;
}



#nav-photo {
  font-weight: 500;
  text-transform: uppercase;
  padding-bottom: 20px;
}

#nav-info {
  font-weight: 400;
}

.nav-link {
  padding: 4px;
}

.gallery-title {
  margin: 15px 0px 15px 15px;
  text-transform: uppercase;
  font-size: 28px;
}

.gallery {
  width: 100%;
  display: flex;
  flex-direction: row;
}

.gallery-column {
  height: fit-content;
  display: flex;
  flex-direction: column;
  min-width: 250px;
}

.image {
  min-width: 250px;
  max-width: 400px;
  flex: 1;
  padding: 15px;
}

.Content {
  width: 100%;
  padding-top: 25px;
  padding-left: 250px;
  padding-right: 25px;
  flex: 1;
}
